@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Playball');

html{
  font-size:16px;
}

body{
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  line-height:1.7;
  letter-spacing:.1rem;
  overflow-x:hidden;
  color:#505962;
}

*:hover{
  transition:0.3s;
}

.heading{
  text-align:center;
  font-family: 'Playball', cursive;
  margin-bottom:8rem;
  border-bottom:2px solid rgb(218,165,32);
  line-height:2.4;
}

section{
  padding-top:6rem;
  padding-bottom:6rem;
}

.offset::before{
  display:block;
  content:"";
  height:4rem;
  margin-top:-4rem;
}

/*--HOME SECTION--*/

#home{
  background-color:rgba(0,0,0,0.75);
}

.site-logo{
  display:inline-block;
  height:3rem;
  width:auto;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler .navbar-toggler-icon:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(218,165,32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
  color:#f8f9fa;
  font-family: 'Playball', cursive;
}

.nav-link:hover{
  color:rgb(218,165,32);
}

.navbar-toggler-icon{
  color:#f8f9fa;
}

.caption{
  position:absolute;
  top:45%;
  z-index:1;
  width:100%;
  max-width:100%;
  color:white;
  font-family: 'Playball', cursive;
}

.caption h2{
  font-size:6rem;
}

.caption p{
  font-size:3rem;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  background-image:url('../img/macbook.jpg');
}

/*--SKILL SECTION--*/

.skill{
  text-align:center;
}

.skill-icon{
  color:rgb(218,165,32);
}

.skill-title{
  margin-top:1rem;
  margin-bottom:1rem;
}

/*--PRICE SECTION--*/

#price{
  text-align:center;
}

.price-title{
  margin-top:6rem;
  margin-bottom:2rem;
}

table{
  table-layout:fixed;
  width:80%;
  margin-right:auto;
  margin-left:auto;
  box-shadow: 0 0px 20px rgba(54,54,54,0.8);
}

.price-table-lp, .price-table-hp thead{
  line-height:3.4;
}

thead{
  background-color:gray;
  color:#f8f9fa;
}

/*--PROFILE SECTION--*/

.profile-img{
  width:100%;
  border-radius:50%;
  box-shadow: 0 0px 20px rgba(54,54,54,0.8);
}

.profile-text{
  width:80%;
  margin:0 auto;
}

.profile-text h3{
  font-family: 'Pacifico', cursive;
  margin-bottom:2rem;
}

.profile-text p{
  line-height:2;
}

.previous-works{
  text-decoration:none;
  font-weight:600;
  color:#337ab7;
}

.previous-works:hover{
  text-decoration:none;
}

/*--CONTACT SECTION--*/

.contact-form{
  width:70%;
  margin-right:auto;
  margin-left:auto;
  position:relative;
}

input[type=text],textarea{
  width:100%;
  display:block;
  margin-bottom:1rem;
  border:1px solid gray;
  box-shadow: 0 0px 10px rgba(54,54,54,0.8);
}

input[type=text]{
  line-height:3rem;
}

textarea{
  height:17rem;
  padding-top:0.65rem;
  padding-bottom:0.65rem;
}

button[type=submit]{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

button[type=submit]:hover{
  opacity:0.6;
}

/*--FOOTER--*/

footer{
  background-color:#343a40;
  padding-top:2rem;
  padding-bottom:1rem;
}

.sns-icons{
  float:right;
}

.sns-icon{
  margin-left:1rem;
  color:#f8f9fa;
}

.sns-icon:hover{
  color:rgb(218,165,32);
}

footer p{
  font-family: 'Playball', cursive;
  margin-top:1rem;
}

@media (max-width:768px){
  
  /*HOME SECTION*/

  /*--PROFILE SECTION--*/
  .profile-text{
    position:relative;
  }

  .profile-text h3{
    text-align:center;
    margin-top:3rem;
    margin-bottom:3rem;
  }

  /*--CONTACT SECTION--*/

  .contact-form{
    width:90%;
  }
}